@use './typography' as *;


button, [type='button'] {
    @include font-size-body;
    background-color: var(--button-primary-bg, #33C4F2);
    color: var(--button-primary-text, #fff);
    padding: 0.6em 1.6em 0.7em;
    line-height: 1;
    border-radius: 0.2em;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover {
        background-color: var(--button-primary-bg-hover, #03aee1);
    }
}